header
{
    background-color: violet;
    color: green;
}

body
{
    background-image:radial-gradient(fuchsia, aqua);
    color: yellow;
}

a
{
    color: maroon;
}

.navbar
{
    background-image:radial-gradient(black, white);
}

#menubuttun
{
    color: tomato;
}

#accroche
{
    font-size: 50px;
    color: darkorchid;
    background-color: lightgreen;
}

