{# src/templates/categories.html.twig #}

<div class="text-center">
    {#{{ count }}#}
    {{ msg }}
        {% for categorie in categories %}
            <a class="btn btn-danger" href="/blog/category/{{ categorie.id }}">{{ categorie.name }}</a>
        {% endfor %}
</div>
