{# src/templates/last_articles.html.twig #}

<br>
{{ 'lastArticles'|trans }}
{% for article in articles %}
    <div class="text-center">
        articles : {{ article.title }} :
        <br>
        <a class="btn btn-info" href="/blog/article/{{ article.id }}">{{ 'linkArticle'|trans }}
        </a>
    </div>
{% endfor %}
<br>
